$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

$text-color:                  #444444;

$brand-primary:               #ea4c89;
$brand-pink:                  #ea4c89;

@import 'sass-bootstrap/lib/bootstrap';
//@import 'sass-bootstrap/lib/variables';



$btn-pink-color:              #fff !default;
$btn-pink-bg:                 $brand-pink !default;
$btn-pink-border:             darken($btn-pink-bg, 5%) !default;

$state-pink-text:             darken($btn-pink-bg, 5%) !default;
$state-pink-bg:               lighten($btn-pink-bg, 80%) !default;
$state-pink-border:           darken(adjust-hue($state-pink-bg, -10), 5%) !default;

// Pink !!
.has-pink {
  @include form-control-validation($state-pink-text, $state-pink-text, $state-pink-bg);
}

.btn-pink {
  @include button-variant($btn-pink-color, $btn-pink-bg, $btn-pink-border);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  //padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}

/* Responsive: Landscape tablets and up */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 900px;
  }

/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
}
/* Space out the masthead */
.header {
  margin-bottom: 30px;
}
/* Remove the bottom border on the jumbotron for visual effect */
.jumbotron {
  border-bottom: 0;
}
}

.img-responsive{
  margin: 0 auto;
}

/* Replace Style */

div.replaced{
  display: none;
}

.replace div.replaced {
  display: block;
  background: $state-pink-bg;
  background: rgba($brand-pink, 0.5);
  color: white;
}


/* Perso adds */

h1, h2, h3, h4, h5 {
  color: #444444;
}



.lil {
  display: none;
}
.container.lil{
  margin: 10px 0;
}

@media (max-width: $screen-xs-max) { 
  .lil{
    display: block;
  }
  .big{
    display: none;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { 
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { 
  
}
@media (min-width: $screen-lg-min) { 

}







