<div class="jumbotron">
  <div class="container">
    <h1><a href="{{currentShot.url}}" target="_blank">{{currentShot.title}}</a></h1>
    
    <p class="text-center">
      <a href="{{currentShot.url}}" target="_blank">
        <img src="{{currentShot.img}}" alt="{{currentShot.title}}" class="img-responsive">
      </a>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <form ng-submit="newShot()" role="form" class="form">
      <div class="form-group">
        
        
        <span class="help-block">Try a shot ID</span>
        <div class="input-group input-group-lg">
          <input class="form-control" type="number" ng-model="newID" placeholder="The last time I checked ID {{initialId}} was the highest" required>
          <span class="input-group-btn">
            <button class="btn btn-pink" type="submit"><span class="glyphicon glyphicon-bullhorn"></span>  Shoooooooooooot!</button>
          </span>
        </div>
        
      </div>
    </form>
  </div>
  <h2>History of shown shot</h2>
  <div class="row">
    <form class="form">
      <input type="search" class="form-control" ng-model="search" placeholder="Search an already seen shot">
    </form>
  </div>
  <div class="row">
    <div class="list-group">
      <a ng-repeat="shot in histor | filter:search" class="list-group-item" href="{{shot.url}}" ng-click="showTheShot(shot, $event)"><span>{{shot.title}}</span></a>
    </div>
  </div>
</div>