<div class="container lil">
  <div class="row">
    <form ng-submit="newShot()" role="form" class="form">
    <div class="col-xs-12">
      <!--    Form pour petit écran  -->
        <div>
          <div class="form-group has-pink">
            <label for="">Try a shot ID</label>
            <input type="number" ng-model="newID" class="form-control" placeholder="I think the highest ID is {{initialId}}">
          </div>
          <button class="btn btn-primary col-xs-12" type="submit">
            <span class="glyphicon glyphicon-bullhorn"></span>
            Shoooooooooooot!
          </button>
        </div>
    </div>
    </form>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1><a href="{{currentShot.url}}" target="_blank">{{currentShot.title}}</a></h1>
    
    <div class="text-center" ng-class="{replace : replaced}">
      <div class="replaced">
        ID not found, you see the next one :)
      </div>
      <a href="{{currentShot.url}}" target="_blank">
        <img src="{{currentShot.img}}" alt="{{currentShot.title}}" class="img-responsive">
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row big">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <form ng-submit="newShot(); replaced = false" role="form" class="form">
        
      <!--  Form pour grand écran    -->
        <div class="">
          <div class="form-group has-pink">
            <span class="help-block">Try a shot ID</span>
            <div class="input-group input-group-lg">
              <input class="form-control" type="number" ng-model="newID" placeholder="The last time I checked ID {{initialId}} was the highest" required>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-bullhorn"></span>  Shoooooooooooot!</button>
              </span>
            </div>
          </div>
        </div>
        
      
        
      </form>
    </div>
  </div>
  <h2>History of shown shot</h2>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="form">
        <input type="search" class="form-control " ng-model="search" placeholder="Search an already seen shot">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <div class="list-group">
        <a ng-repeat="shot in histor | filter:search" class="list-group-item" href="{{shot.url}}" ng-click="showTheShot(shot, $event)"><span>{{shot.title}}</span></a>
      </div>
    </div>
  </div>
</div>